:root {
  --color-1: hsl(259.57, 51.11%, 82.35%);
  --color-2: hsl(314.69, 100%, 90.39%);
  --color-3: hsl(0, 0%, 99.22%);
  --color-4: hsl(191.33, 91.84%, 80.78%);
}

h1:first-of-type {
  font-family: "Gowun Batang", serif;
}

body {
  background: linear-gradient(
    90deg,
    var(--color-1) 0%,
    var(--color-1) 25%,
    var(--color-2) 25%,
    var(--color-2) 50%,
    var(--color-3) 50%,
    var(--color-3) 75%,
    var(--color-4) 75%,
    var(--color-4) 100%
  );
}
:root {
  --color-1: rgb(202, 187, 233);
  --color-2: rgb(255, 206, 243);
  --color-3: rgb(253, 253, 253);
  --color-4: rgb(161, 234, 251);
}

body {
  background: linear-gradient(
    90deg,
    var(--color-1) 0%,
    var(--color-1) 25%,
    var(--color-2) 25%,
    var(--color-2) 50%,
    var(--color-3) 50%,
    var(--color-3) 75%,
    var(--color-4) 75%,
    var(--color-4) 100%
  );
} /* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-image: url("https://ardadylan.github.io/my-website/images/turkiyebeach.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  padding: 2rem;
}

h1#name {
  color: #000;
  margin-bottom: 1rem;
}

h1,
p {
  margin-bottom: 1rem;
}

/* Resume Section */

#resume {
  margin-top: 2rem;
}

/* Download Button */

.download-button {
  display: inline-block;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  background-color: #d3d3d3;
  color: black;
  border: none;
  text-align: center;
  text-decoration: none;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.download-button:hover {
  background-color: #a9a9a9;
}

/* Positioning image at the top right */
#top-right-image {
  position: absolute;
  top: 10px;
  right: 10px;
}

#top-right-image img {
  width: 170px; /* Adjust width as necessary */
  height: auto;
  border-radius: 200%; /* Optional: make it a circle */
}
