/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-image: url('https://ardadylan.github.io/my-website/images/moto_backround.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff; /* Change text color for better visibility against the background */
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

p {
    line-height: 1.6;
}
